#header{
    background-color: rgba(243, 228, 209, 0.852);
}
#logo{
    float:left;
    padding: 1em;
}
.logo1:hover{
    border-radius: 20%;
    transition: border-radius 0.3s ease;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    transition: box-shadow 0.3s ease;
    transform: scale(.6);
    transition: transform 0.3s ease-in-out;
}
.card-img-top{
    height: 15em;
    border-radius: 1em;
}body{
    background-color: rgb(216, 201, 181);;
}
.card{
    background-color: rgb(216, 201, 181);
    border: 1em;
    border-color: darkgray;
    
}

h1{
    font-weight: 400;
    color:rgba(107, 59, 5, 0.82);
    width: 100%;
    text-align: center;

}
h1:hover{
    transition: scale(1.2);
    transform: transition 0.1s ease-in;
    letter-spacing: 5px;
}
.underline-hover {
    display: inline-block;
    position: relative;
}
.underline-hover::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;   
    background: #652517;
    transition: width 0.4s ease;
}
.underline-hover:hover::after {
    width: 100%;
}
#skls{
  background-color: rgba(243, 228, 209, 0.852);
  border-radius: 2em;
  
}
.sklcard{
    background-color: rgba(243, 228, 209, 0.852);
}
.btn{
    background-color: #502e26;
    color: bisque;
    border: 0px;
}
.btn:hover{
        background-color: #5a352d;
    color: bisque;
    border: 0px;
}
.footer{
    background-color: #502e26;
    color: bisque;
}
.lnk{
    text-decoration: none;
    color: rgb(232, 202, 166);
}
.lnk:hover{
    text-decoration: none;
    color: rgb(215, 175, 126);
}